<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">DNI</th>
        <th scope="col">Email</th>
        <th scope="col">Fecha Nacimiento</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Wilson</td>
        <td>11111111</td>
        <td>fff@gmail</td>
        <td>11-12-13</td>
        
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Otto</td>
        <td>11111111</td>
        <td>fff@gmail</td>
        <td>11-11-11</td>
      </tr>
     
    </tbody>
  </table>